@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}
input,
textarea {
  border-radius: 4px;
  background-color: #fff;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  display: none;
}

/* Rich Text Base */
.rich-text {
  color: #333333;
  line-height: 1.6;
}

/* Headings */
.rich-text h1 {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 12px;
}

.rich-text h2 {
  font-size: 20px;
  font-weight: 600;
  color: #2a2a2a;
  margin-bottom: 10px;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 8px;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 8px;
}

.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  margin-bottom: 6px;
}

.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 6px;
}

/* Text */
.rich-text p {
  margin-bottom: 12px;
}

/* Emphasis */
.rich-text strong {
  font-weight: 700;
}

.rich-text em {
  font-style: italic;
}

/* Lists */
.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}

/* Links (optional but recommended) */
.rich-text a {
  color: #2563eb;
  text-decoration: underline;
}

.rich-text a:hover {
  text-decoration: none;
}
